@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.title{
    color: #EBD8D9;
    font-family: 'Castoro Titling', cursive;
    font-size: 4rem;
}

ul{
    box-shadow: 0px 4px 3px gray;
}

.TaskCount{
    font-size: 14px;
    color: #D8D8D8;
}

.deleteBtn{
    display: none;
    font-weight: bold;
}

.taskItem:hover .deleteBtn {
    display: block;
    font-weight: bold;
}


.deleteBtn:hover {
    color: red;
    background-color: white;
    border-color: red;
}

.list-group{
    border-radius: 0%;
}

.inputTask{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.inputTask:focus {
    border: none;
}

.inputTask:active {
    border: none;
}